{{ ansible_managed|default(_bitwardenrs_ansible_managed)|comment }}

[Unit]
Description =  VaultWarden (https://github.com/dani-garcia/vaultwarden)
After = network.target network-online.target dbus.service
Wants = network-online.target
Requires = dbus.service

[Service]
WorkingDirectory = {{ bitwardenrs_directory }}
EnvironmentFile={{ bitwardenrs_directory }}/.env
User = bitwardenrs
Group = bitwardenrs
ExecStart = {{ bitwardenrs_directory }}/vaultwarden

[Install]
WantedBy = multi-user.target
