{{ ansible_managed|default(_vaultwarden_ansible_managed)|comment }}

[Unit]
Description =  VaultWarden (https://github.com/dani-garcia/vaultwarden)
After = network.target network-online.target dbus.service
Wants = network-online.target
Requires = dbus.service

[Service]
WorkingDirectory = {{ vaultwarden_directory }}
EnvironmentFile={{ vaultwarden_directory }}/.env
User = vaultwarden
Group = vaultwarden
ExecStart = {{ vaultwarden_directory }}/vaultwarden

[Install]
WantedBy = multi-user.target
